@model IEnumerable<ConcertApp.Web.Models.Concert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Concert", "AddConcert", "Concert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ConcertId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ConcertId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ConcertId })
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", "Concert", new { id = item.ConcertId }, null) |
                @Html.ActionLink("Details", "Details", new { id = item.ConcertId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ConcertId })
            </td>
        </tr>
    }

</table>
