@model IEnumerable<ConcertApp.Web.Models.Concert>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
@*
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
*@
    </header>
    <p>
        @*    @Html.ActionLink("Add Concert", "AddConcert", "Concert")*@
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="6"> No Results Found </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ConcertId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ConcertId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ConcertId })
                    </td>*@
                    <td>
                        @*@Html.ActionLink("Edit", "Edit","Concert", new { id = item.ConcertId },null) |*@
                        @Html.ActionLink("Details", "Details", "Concert", new {id = item.ConcertId}, null)
                        @*@Html.ActionLink("Delete", "Delete", "Concert", new { id = item.ConcertId }, null)*@
                    </td>
                </tr>
            }
        }
            

    </table></div>
