@model IEnumerable<ConcertApp.Web.ViewModel.BookingViewModel>

@{
    ViewBag.Title = "Index";
}
</br>
@if (TempData["delete"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["delete"]</p>
    </div>
}

<h2>Bookings</h2>

<table class="table table-hover table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConcertName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConcertName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            £@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new {id = item.BookingId})
        </td>
    </tr>
}

</table>
